{{- if .IsHome -}}
{{- $sameAs := slice -}}
{{- with .Site.Params.social.github -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.social.linkedin -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.social.x -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}
{{- with .Site.Params.social.bluesky -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "ProfilePage"
  "dateCreated" "2024-01-07T00:00:00+00:00"
  "dateModified" (now.Format "2006-01-02T15:04:05Z07:00")
  "mainEntity" (dict
    "@type" "Person"
    "@id" (printf "%s#person" .Site.BaseURL)
    "name" .Site.Title
    "alternateName" "Alexandre Roman"
    "description" .Site.Params.description
    "url" .Site.BaseURL
    "image" (printf "%simages/profile-picture.webp" .Site.BaseURL)
    "jobTitle" "Pre-Sales Expert (Solution Engineer)"
    "worksFor" (dict
      "@type" "Organization"
      "name" "VMware Tanzu"
    )
    "knowsAbout" (slice
      "AI"
      "Cloud Native Technologies"
      "Java"
      "Spring Framework"
      "Spring Boot"
      "Spring AI"
      "Software Engineering"
      "Kubernetes"
      "Microservices Architecture"
    )
    "sameAs" $sameAs
  )
-}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>

{{- else -}}

{{- /* BreadcrumbList for non-home pages */ -}}
{{- $breadcrumb := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" (.Site.BaseURL | strings.TrimSuffix "/"))
    (dict "@type" "ListItem" "position" 2 "name" .Title)
  )
-}}
<script type="application/ld+json">
{{ $breadcrumb | jsonify (dict "indent" "  ") | safeJS }}
</script>

{{- if eq .Layout "experience" -}}
{{- /* Experience ItemList schema */ -}}
{{- $items := slice -}}
{{- range $index, $exp := .Site.Data.experiences -}}
  {{- $items = $items | append (dict
    "@type" "ListItem"
    "position" (add $index 1)
    "item" (dict
      "@type" "OrganizationRole"
      "roleName" $exp.title
      "startDate" $exp.period
      "description" $exp.description
      "memberOf" (dict
        "@type" "Organization"
        "name" $exp.company
      )
    )
  ) -}}
{{- end -}}
{{- $expSchema := dict
  "@context" "https://schema.org"
  "@type" "ItemList"
  "name" "Professional Experience"
  "numberOfItems" (len .Site.Data.experiences)
  "itemListElement" $items
-}}
<script type="application/ld+json">
{{ $expSchema | jsonify (dict "indent" "  ") | safeJS }}
</script>

{{- else if eq .Layout "projects" -}}
{{- /* Projects ItemList schema */ -}}
{{- $items := slice -}}
{{- range $index, $proj := .Site.Data.projects -}}
  {{- $items = $items | append (dict
    "@type" "ListItem"
    "position" (add $index 1)
    "item" (dict
      "@type" "SoftwareSourceCode"
      "name" $proj.title
      "description" $proj.description
      "url" $proj.link
      "author" (dict
        "@type" "Person"
        "name" "Alexandre Roman"
      )
    )
  ) -}}
{{- end -}}
{{- $projSchema := dict
  "@context" "https://schema.org"
  "@type" "ItemList"
  "name" "Projects"
  "numberOfItems" (len .Site.Data.projects)
  "itemListElement" $items
-}}
<script type="application/ld+json">
{{ $projSchema | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}

{{- end -}}
